{% extends "adminui/dashboard.html" %}
{% block content %}
<div class="container">
  <h4 class="mb-3">Change Password</h4>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label>Student ID</label>
      <input type="text" class="form-control" value="{{ student.student_id }}" readonly>
    </div>
    <div class="mb-3">
      <label>New Password</label>
      <input type="password" name="new_password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Confirm Password</label>
      <input type="password" name="confirm_password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'student_list' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
